<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>popajopa</title>
    </head>
    <body>
        <div id="circled"></div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Количество</th>
                    <th>Coast</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </body>
</html>